<div>
  <a href="/">👈 back to book list </a>
</div>

{% extends "base.html" %}

{% block header %}
<h2>{{ book.title }} </h2>
{% endblock %}

{% block content %}
<div class="book" id="{{ pk }}">
  <p class="mar-md">by {{ book.author }}</p>
  <a href= {% url 'books_by_category' category.slug %} class="badge badge-info badge-xs mar-md">
    {{ category }}
  </a>
  <div class="button-group">
  <a href="{% url 'book_edit' book.pk %}" class="button">Edit</a>
  <a href="{% url 'book_delete' book.pk %}" class="button button-danger">Delete</a>
  </div>
</div>
{% endblock %}
