{% extends "base.html" %}

{% block content %}
<section class="categories">
  <p>Filter by category</p>
<div>
  {% for category in categories %}
  <a href= {% url 'books_by_category' category.slug %} class="badge badge-info badge-xs">
  <i class=" fa fa-star"></i>
  {{ category.name }}
</a>
{% endfor %}
</div>
</section>
<section class="book-list cards">
{% for book in books %}
<div class="book card" id="{{book.pk}}">
  <a style="font-weight: bold;" href="{% url 'book_detail' book.pk %}">{{ book.title }}</a>
  <p>{{ book.author }}</p>
  <p>{{ book.category }}
</div>
{% endfor %}
</section>
<section class="links">
<a href="{% url 'book_new' %}" class="button button-info button-md">
  <i class=" fa fa-plus mar-r-xs""></i>
  Create a new book
</a>
</section>
{% endblock %}
